@media only screen and (max-width:1200px){
    .row {
        padding: 0 20px;
    }
}

@media only screen and (max-width:1161px){
    
    .nav-list {
        margin-right: 20%;
    }
    
    .image-link {
        margin-left: 30px;
    }
    
    .heading-box {
        top: 60%;
        left: 
    }
    
}

@media only screen and (max-width:1023px){
    
    .nav-list {
        margin-right: 40%;
    }
    
    .nav-list li {
        margin-right: 40px;
        
    }
    
    .nav-list li a:link , .nav-list li a:visited {
        padding-bottom: 10px;
    }
    
    .heading-box {
        font-size: 90%;
        left: 22%;
        top: 55%;
    }
    
    .image-link {
        height: 100px;
        width: 100px;
    }
    
}


@media only screen and (max-width:767px){
    
    .heading-box {
        font-size: 80%;
        left: 18%;
    }
    
    .nav-list {
        display: none;
    }
    
    .image-link {
        height: 80px;
        width: 80px;
    }
    
    

}

@media only screen and (max-width:480px) {
    
    .heading-box {
        font-size: 60%;
    }
    
    .btn {
        font-size: 60%;
    }
    

}

@media only screen and (max-width:320px) {
    .heading-box {
        font-size: 60%;
    }
    
    .btn {
        font-size: 60%;
    }
}

