* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    background-color: #ffffff;
    color: #555;
    font-family: "Lato" , "Arial" , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    width: 1240px;
    margin: 0 auto;
}


/*-------------------------*/
/*-----HEADER--------------*/
/*--------------------------*/

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)), url(img/main-back.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
    position: relative;
}

nav {
   
    margin-top: 40px;
}

.heading-box {
    position: absolute;
    top: 50%;
    left: 25%;
}

.main-heading {
    color: #fff;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 2px;  
    margin-bottom: 60px;
}

.btn {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
}

.btn:link , .btn:visited {
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: background-color 1s , color 1s;
}

.btn:hover , .btn:active {
    background-color: #fff;
    color: #e67e22;
}

.image-link:link , .image-link:visited {
    text-decoration: none;
}

.image-link:hover + #image-hover-div {
    display: block;
}

.image-link {
    float: left;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 10px;
    border: 4px solid #fff;
    cursor: pointer;
}

nav .nav-list {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.nav-list li {
    display: inline-block;
    margin-right: 60px;
}

.nav-list li a:link , .nav-list li a:visited {
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
    transition: border-bottom 0.2s;
}

.nav-list li a:hover , .nav-list li a:active {
    border-bottom: 2px solid #e67e22;   
}



#image-hover-div {
    height: 250px;
    width: 400px;
    background-color: #efefef;
    position: absolute;
    top: 22%;
    left: 14%;
    display: none;
}

.image-div {
    margin: 10px 10px 0 0;
    text-align: center;

}

.bio-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #e67e22;
}

.name-div {
    margin: 20px 0 40px 20px;
    text-align: center;
}

.name-div div {
    margin-bottom: 10px;
}

.social-div {
    clear: both;
}

.social-nav {
    list-style: none;
    margin-left: 65px;
}

.social-nav li{
    display: inline-block;
    margin-right: 60px;
}

.social-nav li a {
    text-decoration: none;
    
}

.fb {
    color: #3b5999;
}

.ig {
    color: #e4405f;
}

.tw {
    color: #55acee;
}

.gh {
    color: #3b5999;
}